<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alarmMapper">
  		
  <select id="selectAlarmHistList" resultType="AlarmDto" parameterType="String">
  	<![CDATA[
		select
			(select concat(count(idx) || '건') from tb_alarm_hist where device_id = #{deviceId} and del_yn = 'N' ) as "alarmMsg"
	]]>
  </select>
  
  <select id="selectAlarmListPage" resultType="AlarmDto" parameterType="PagingDto">
  	<![CDATA[
		select
			idx
			, device_id as "deviceId"
			, alarm_cd as "alarmCd"
			, alarm_msg as "alarmMsg"
			, create_dt as "createDt"
		from
			tb_alarm_hist
		where
			DEL_YN = 'N'
		limit #{limitStartNo}, #{pageSize}
	]]> 
  </select>
  
  <select id="selectAlarmCnt" resultType="Integer">
  	<![CDATA[
	  	select
			COUNT(IDX)
		from
			tb_alarm_hist
		where
			DEL_YN = 'N'
	]]>
  </select>
  
  <insert id="insertAlarm" parameterType="AlarmDto">
  	<![CDATA[
	  	insert into tb_alarm_hist(device_id, alarm_cd, alarm_msg)
	  	values
	  	(
	  		#{deviceId}
	  		, #{alarmCd}
	  		, #{alarmMsg}
	  	)
  	]]>
  </insert>

</mapper>