<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="areaMapper">

	<select id="selectAreaCnt" resultType="Integer">
	  	<![CDATA[
		  	select
				COUNT(idx)
			from
				tb_area
			where
				del_yn = 'N'
		]]>
	</select>

	<select id="selectAreaListPage" resultType="AreaDto">
		select
			idx
			, lat
			, lng
			, percent
			, area_nm as "areaNm"
			, create_dt as "createDt"
		from
			tb_area
		where
			del_yn = 'N'
		limit #{limitStartNo}, #{pageSize}
	</select>
	
	<select id="selectAreaEventList" resultType="AreaDto" parameterType="String">
  	<![CDATA[
		select
			lat
			, lng
			, device_id as "deviceId"
			, count(idx) as "alarmCnt"
		from
			tb_area_log
		where
			del_yn = 'N'
			and device_id = #{deviceId}
		group by lat, lng 
	]]>
  </select>
  
  <select id="selectAreaEventInfo" resultType="AreaDto" parameterType="AlarmDto">
  	<![CDATA[
		select
			lat
			, lng
			, evt1 
            , evt2
            , evt3
            , evt4
            , evt5
            , evt6
            , evt7
            , evt8
            , evt9
            , evt10
            , evt11
		from
			tb_area_event
		where
			del_yn = 'N'
			and lat = #{lat}
			and lng = #{lng}
	]]>
  </select>

  		
	<select id="selectAreaList" parameterType="HashMap" resultType="AreaDto">
		<![CDATA[
			select
				idx
				, lat
				, lng
				, percent
				, (6371 * acos(cos(radians(#{lat})) * cos(radians(lat)) * cos(radians(lng)
				- radians(#{lng})) + sin(radians(#{lat})) * sin(radians(lat)))) as "distance"
				, month
				
			from
				tb_area
			where
				CAST(percent AS UNSIGNED) >= CAST(#{percent} AS UNSIGNED)
		]]>		
		<if test='month != "" and month != null'>
				and month like concat(#{month},'-','%') or month like concat('%','-',#{month})
		</if>
		<![CDATA[
				
			having distance < 20
		]]>
	</select>
  
	<insert id="insertArea" parameterType="AreaDto">
  		insert into tb_area (lat, lng, percent)
  		values (
  			#{lat}
  			, #{lng}
  			, #{percent}
  		)
	</insert>
	
	<insert id="insertAreaLog" parameterType="AreaDataDto">
		insert into tb_area_log (lat, lng, device_id)
  		values (
  			#{lat}
  			, #{lng}
  			, #{deviceId}
  		)
	</insert>
	
	<update id="deleteArea" parameterType="String">
		update tb_area set del_yn = 'Y' where idx = #{idx}
	</update>

</mapper>