<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fehdMapper">
	<insert id="insertFehd" parameterType="java.util.Map">
		INSERT INTO `FSHRBT_ENGN_HRSPW_DATA`
		(`MAIN_KIND`,
		`MAIN_QTY`,
		`MCE_KW`,
		`MCE_PS`,
		`GROSS_TONNAGE`,
		`PURPOSE`,
		`PURPOSE_GU`,
		`NATURE`,
		`LAUNCH_DATE`)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=" , ">
			(
			#{item.MAIN_KIND},
			#{item.MAIN_QTY},
			#{item.MCE_KW},
			#{item.MCE_PS},
			#{item.GROSS_TONNAGE},
			#{item.PURPOSE},
			#{item.PURPOSE_GU},
			#{item.NATURE},
			#{item.LAUNCH_DATE}
			)
		</foreach>
	</insert>

	<select id="selectFehdCnt" resultType="Integer">
	<![CDATA[
		SELECT
			COUNT(IDX)
      	FROM
        	`FSHRBT_ENGN_HRSPW_DATA`
	]]>
	</select>

	<select id="selectFehdListPage" resultType="FehdDto" parameterType="PagingDto">
  	<![CDATA[
		SELECT 
			`IDX`,
		    `MAIN_KIND`,
		    `MAIN_QTY`,
		    `MCE_KW`,
		    `MCE_PS`,
		    `GROSS_TONNAGE`,
		    `PURPOSE`,
		    `PURPOSE_GU`,
		    `NATURE`,
		    `LAUNCH_DATE`
		FROM
			`FSHRBT_ENGN_HRSPW_DATA`
		LIMIT #{limitStartNo}, #{pageSize}
	]]>
	</select>
</mapper>