<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stpdMapper">
	<insert id="insertStpd" parameterType="java.util.Map">
	  	INSERT INTO `SHIP_THING_PRSEC_DTLS`
		(`FEE_GB`,
		`OFFICE_GUBUN`,
		`ACCT_DATE`,
		`MANU_QTY`,
		`MANUF_UNIT`)
		VALUES
		<foreach item="item" index="index" collection="list" separator=" , ">
		(
		#{item.FEE_GB},
		#{item.OFFICE_GUBUN},
		#{item.ACCT_DATE},
		#{item.MANU_QTY},
		#{item.MANUF_UNIT}
		)
		</foreach>
	</insert>
	
	<select id="selectStpdCnt" resultType="Integer">
	<![CDATA[
	  	SELECT
			COUNT(IDX)
      	FROM
      		`SHIP_THING_PRSEC_DTLS`
	]]>
  	</select>

	<select id="selectStpdListPage" resultType="StpdDto" parameterType="PagingDto">
	<![CDATA[
		SELECT
			`IDX`,
		    `FEE_GB`,
		    `OFFICE_GUBUN`,
		    `ACCT_DATE`,
		    `MANU_QTY`,
		    `MANUF_UNIT`
		FROM
			`SHIP_THING_PRSEC_DTLS`
		LIMIT #{limitStartNo}, #{pageSize}
	]]> 
    </select>
    
    <select id="selectStpdList" resultType="StpdDto">
	<![CDATA[
		SELECT
			`IDX`,
		    `FEE_GB`,
		    `OFFICE_GUBUN`,
		    `ACCT_DATE`,
		    `MANU_QTY`,
		    `MANUF_UNIT`
		FROM
			`SHIP_THING_PRSEC_DTLS`
		
	]]> 
    </select>
    
    <delete id="deleteStpd">
    <![CDATA[
		DELETE FROM SHIP_THING_PRSEC_DTLS WHERE IDX > 0
	]]>
	</delete>
</mapper>